/vendor/
node_modules/
npm-debug.log
yarn-error.log

/src/node_modules/
/src/vendor/

bootstrap/compiled.php
app/storage/

public/storage
public/hot

public_html/storage
public_html/hot

# storage を無視するが、app/public 配下の一部は許可
/storage/*
!/storage/app/
!/storage/app/public/
!/storage/app/public/products/
!/storage/app/public/common/
!/storage/app/public/profiles/

src/public/storage
storage/*.key
/src/storage/logs/*.log
/src/bootstrap/cache/*.php

.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json

src/README_Laravel.md

.env.testing

/docker/mysql/
/docker/mysql/data/

.DS_Store

# env & IDE
/.env
/src/.env
/src/.env.testing
/.idea
/.vscode