/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public/*
/storage/logs/*.log
/bootstrap/cache/*.php

.env
.env.backup
.env.production
.env.*.local

.idea
.vscode
.DS_Store

/docker/mysql/
/docker/mysql/data/